.li{
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #3674ba;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
  border-radius: 50%;
}
.carousel-cap {
  z-index: 10;
  padding:10% 0%;
  color: #fff;
}
.zag{
  padding:5% 0;
  color:#444343;
  font-weight: lighter;
  text-align: center;
}
.headings{
  padding-bottom:5%;
  text-align: center;
}
.bt{
  position: relative;
  margin-left: 80%;
  border-radius: 0;
  background-color: #3674ba;
  border-color: #3674ba;
  -webkit-text-fill-color: white; 
  width:20%;
  padding: .375rem .75rem;
  top:-48px;
  border:0px;
}
hr{
  position: relative;
  top: 12px;
  left: 0px;
}
h1{
  font-size: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  line-height: 1.2;
  font-weight: lighter;
}
h1+p{
  font-weight: lighter;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #335565;
}
h2{
  font-size: 48px;
  font-weight: lighter;
}
h4{
  font-size: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7c7c7c;
}
h5{
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3674ba;
}
i{
  font-size:100px;
}
input{
  width:100%;
  margin: 5px 0px;
}
